
/* HEADER */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0a0a0a;
}

.header {
  background-color: #0a0a0a;
  padding: 31px 0 30px;
  font-size: 24px;
  line-height: 29px;
  color: #717171;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
  font-size: 24px;
}

.menu-item {
  padding-right: 30px;
}

.menu-item:nth-child(3) {
  padding: 0;
}

/* MAIN */

/* SECTION "headline" */

.headline {
  background-color: #F5F5F7;
  text-align: center;
  padding: 70px 0 40px;
}

.title {
  text-transform: uppercase;
  margin: 0 0 40px;
  font-weight: 700;
  color: #490E84;
  font-size: 64px;
  line-height: 77px;
}

.headline-img {
  margin-bottom: 25px;
}

.headline-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  padding: 22px 117px 19px;
  background-color: #490E84;
  border-radius: 30px;
  text-transform: uppercase;
}

/* SECTION "new" */

.new {
  padding: 90px 0 150px;
}

.new-title,
.color-title {
  margin: 0 0 50px;
  text-transform: uppercase;
  text-align: center;
  color: #717171;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
}

.new-info {
  display: flex;
  align-items: center;
}

.new-text p {
  max-width: 560px;
  margin: 0 0 30px;
}

.new-text b {
  max-width: 560px;
  font-size: 20px;
  line-height: 26px;
  display: block;
}

.images-new {
  margin-left: 190px;
}

/* SECTION "color" */

.color {
  padding-bottom: 150px;
}

.color-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.color-item img {
  margin-bottom: 20px;
}

.color-item h3 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 10px;
}

.color-item p {
  margin: 0;
}

/* SECTION "contacts" */

.contacts-inner {
  display: flex;
  background-color: #574B63;
  color: #fff;
}

.contacts-form {
  width: 100%;
  padding: 140px 100px;
  text-align: center;
}

.contacts-title {
  margin: 0 0 60px;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
}

.contacts-input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-bottom: 20px;
  background-color: #574B63;
}

.contacts-input::placeholder {
  font-size: 14px;
  line-height: 18;
  color: #fff;
  opacity: .5;  /* 50 % or 0.5 */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.contacts-form p {
  opacity: .5;
  text-align: center;
  margin: 30px 0;
}

.contacts-form button {
  border: none;
  text-transform: uppercase;
  color: #490E84;
  background-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  padding: 16px 81px;
  cursor: pointer;
}

/* FOOTER */

.footer {
  background-color: #0a0a0a;
}

.footer-link {
  flex-basis: 0;
  flex-grow: 1;
}

.footer-inner {
  color: #717171;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}


/* АДАПТИВ */
.menu-btn {
  display: none;
}


@media (max-width: 1200px) {
  .headline-img {
    max-width: 100%;
  }
}


@media (max-width: 1100px) {
  .color-list {
    flex-wrap: wrap;
  }

  .color-item {
    width: 50%;
    margin-bottom: 30px;
  }

  .contacts-inner {
    display: block;
  }

  .contacts-form {
    width: auto;
  }

  .contacts-title {
    text-align: center;
  }

  .contacts-img {
    width: 100%;
  }

  .contacts {
    background-color: #574B63;
  }
}


@media (max-width: 940px) {
  .menu-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    order: 1;
    cursor: pointer;
    position: relative;
    z-index: 50;
    border: 0;
  }

  .logo,
  .phone {
    position: relative;
    z-index: 50;
  }

  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: .3s ease-in-out;
  }

  .btn-line:nth-child(1) {
    top: 0;
  }
  .btn-line:nth-child(2) {
    top: 20px;
  }
  .btn-line:nth-child(3) {
    top: 20px;
  }
  .btn-line:nth-child(4) {
    top: 40px;
  }
  .menu-open .btn-line:nth-child(1){
    transform: scaleX(0);
  }
  .menu-open .btn-line:nth-child(2){
    transform: rotate(45deg);
  }
  .menu-open .btn-line:nth-child(3){
    transform: rotate(-45deg);
  }
  .menu-open .btn-line:nth-child(4){
    transform: scaleX(0);
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0a0a0a;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: .3s ease;
  }

  .menu-open .menu {
    transform: translateY(0);
  }

  .menu-item {
    padding: 0;
    margin: 50px 0;
    font-size: 56px;
  }

  .images-new {
    display: none;
  }

  .new-text p,
  .new-text b {
    max-width: 100%;
  }

  .phone {
    text-align: center;
  }
}


@media (max-width: 768px) {
  .headline,
  .new {
    padding: 50px 0;
  }
  
  .color {
    padding-bottom: 50px;
  }

  .contacts-form {
    padding: 50px 70px;
  }
}


@media (max-width: 640px) {
  .footer-inner {
    padding: 30px 0;
    flex-direction: column-reverse;
  }

  .footer-inner .logo {
    margin: 20px 0;
  }
}


@media (max-width: 560px) {
  .title {
    font-size: 34px;
    line-height: 42px;
  }

  .new-title,
  .color-title,
  .contacts-title {
    font-size: 28px;
    line-height: 32px;
  }

  .color-item {
    width: 100%;
  }

  .color-item img {
    width: 100%;
  }

  .headline-btn {
    font-size: 18px;
    line-height: 22px;
    padding: 16px 90px;
  }

  .contacts-form {
    padding: 50px 70px;
  }
}

@media (max-width: 420px) {
  .nav {
    flex-wrap: wrap;
  }
  .phone {
    flex-basis: auto;
    margin-top: 50px;
    order: 3;
    width: 100%;
  }
}


@media (max-width: 375px) {
  .contacts-form {
    padding: 50px 10px;
  }
}